<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<title>onvif</title>

    <style>

       body {
        background-color: #afacac;
        font-family: Arial, sans-serif;
        font-size: 16px;
      }
      
        .button-container {
            position: relative;
          }
          
          .button-container button {
            position: fixed;
            top: 10px;
            left: 10px;
          }
    </style>




</head>
<body>

    

        {% block head %}{% endblock %}
        {% block content %}{% endblock %}

</body>
</html>