{% extends 'base.html' %}

{% block content %}
<br>
<div class="ui container grid">
    <div class="eight wide computer sixteen wide mobile column">
        <div class="ui teal message" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
            <p style="font-size: 16px; font-style: italic">Device information :</p>
            {% if Manufacturer %}
            <p>Manufacturer : {{ Manufacturer }} </p>
            {% endif %}
            {% if Model %}
            <p>Model : {{ Model }} </p>
            {% endif %}
            {% if FirmwareVersion %}
            <p>Firmware Version : {{ FirmwareVersion }} </p>
            {% endif %}
            {% if SerialNumber %}
            <p>Serial Number : {{ SerialNumber }} </p>
            {% endif %}
            {% if HardwareId %}
            <p>Hardware Id : {{ HardwareId }} </p>
            {% endif %}
            <button id="reboot-button" style="float: left;">Reboot</button>
            <button id="logout-button" style="float: right;">Logout</button>
            <br>
        </div>
    </div>
    
    <div class="eight wide computer sixteen wide mobile column">
        <div class="ui olive message" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
            <p style="font-size: 16px;">System Date information :</p>
            <!-- {% if Sysdt_dt %}
            <p>System Time : {{ Sysdt_dt.Date.UTCDateTime.Time.Hour }}:{{ Sysdt_dt.Date.UTCDateTime.Time.Minute }} </p>
            {% endif %} -->
            {% if Sysdt_year %}
            <p>System Year/Month/Day : {{ Sysdt_year.Year }}/{{ Sysdt_year.Month }}/{{ Sysdt_year.Day }}  </p>
            {% endif %}
            {% if Sysdt_hour %}
            <p>Daylight Savings? : {{ Sysdt_hour }} </p>
            {% endif %}
            {% if Sysdt_tz %}
            <p>System Time Zone : {{ Sysdt_tz.TZ }} </p>
            {% endif %}
            {% if NTP_server %}
            <label>NTP-server: <input type="text" id="NTP-server" name="NTP-server" value="{{ NTP_server }}" placeholder="10.1.0.1" /></label><br><br>
            {% endif %}
            <br>
            <br>
            <button id="ntp-enable-button">Save</button>
        </div>
    </div>
</div>

  
<div class="ui container grid">
    <div class="eight wide computer sixteen wide mobile column">
        <div class="ui orange message" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
            <p style="font-size: 16px;">Network information :</p>
            {% if DHCP %}
            <label>DHCP <input type="checkbox" id="dhcp-status" name="dhcp-status" value=1 checked/></label><br>
            {% else %}            
            <label>DHCP <input type="checkbox" id="dhcp-status" name="dhcp-status" value=0 /></label><br>
            {% endif %}
            <label>IPv4 Address: <input type="text" id="network-ip" name="network-ip" value="{{ IPv4 }}" placeholder="192.168.1.12" /></label><br>
            <label>IPv4 Subnet Prefix: <input type="text" id="network-mask" name="network-mask" value="{{ PrefixLength }}" placeholder="24" /></label><br>
            <label>IPv4 Default Gateway: <input type="text" id="network-gateway" name="network-gateway" value="{{ Gateway }}" placeholder="192.168.1.1" /></label><br><br>
            <button id="submit-network-information">Save</button>
        </div>
    </div>

    <div class="eight wide computer sixteen wide mobile column">
        <div class="ui olive message" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
            <p style="font-size: 16px;">OSD information :</p>
            {% if OSD_caption == "" %}
            <label><input type="checkbox" id="osd_status" name="osd_status" value=osd_status/> Display Name</label><br><br> 
            <label>Camera Name: <input type="text" id="OSD_caption" name="OSD_caption" value="{{ OSD_caption }}" placeholder="camera name" disabled /></label><br><br>   
            {% else %}
            <label><input type="checkbox" id="osd_status" name="osd_status" value=osd_status checked/> Display Name</label><br><br> 
            <label>Camera Name: <input type="text" id="OSD_caption" name="OSD_caption" value="{{ OSD_caption }}" placeholder="camera name" /></label><br><br>   
            {% endif %}
            <br>
            <button id="save-osd-button">Save</button>
        </div>
    </div>
</div>

    
<div class="ui container grid">
    <div class="eight wide computer sixteen wide mobile column">
        <div class="ui yellow message" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
            <p style="font-size: 16px;">Image information :</p>
            

            <div class="ui two column grid">
                <div class="column">
                    <div class="ui segment">
                          <!--- {% load static %}
                             <img src="{% static ImageURI %}" alt="My Image" style="width: 100%; height: auto;"> 
                             <img src='http://admin:1beltelecombtk@10.252.45.232:85/images/snapshot.jpg' alt="Image" style="width: 100%; height: auto;"> 
                            --->
                             <img src='{{ ImageURI}} ' alt="No Image" style="width: 100%; height: auto;"> 
                            
                    </div>
                    <br>
                    </div>
                    
                <div class="column">

                    <label><input type="checkbox" id="wdr_status" name="wdr_status" value=wdr_status/> WDR enable</label>
               
                </div>
            </div>
            

            <button style="float: left;" id="get-image-button">Get</button>
            <button style="float: right;" id="submit-image-information">Save</button>
            <br>

        </div>
    </div>

    <div class="eight wide computer sixteen wide mobile column">
        <div class="ui yellow message" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
            <p style="font-size: 16px;">Video information :</p>
            <br> 
            <br> 
            <br> 
            <br>
 
            <button id="save-video-button">Save</button>
    </div>
</div>





<div class="ui container grid" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
    <div class="sixteen wide column">
    <div class="ui gray message">
        <div id="debug-result"></div>
    </div>
    </div>
</div>




<!------------------------------------------------------------------------------------------------------------->
<script>
// Получаем элементы страницы
var getImageButton = document.getElementById('get-image-button');
var imagePreview = document.getElementById('image-preview');

// Обработчик события нажатия на кнопку
getImageButton.addEventListener('click', function(event) {
    event.preventDefault();  // Отменяем стандартное поведение браузера

    // Создаем объект FormData для отправки POST-запроса на сервер
    var formData = new FormData();
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');  // Добавляем токен CSRF
    formData.append('action', 'get_image');

    // Отправляем AJAX-запрос на сервер
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '{% url 'get_image' id=cam_id %}');
    xhr.responseType = 'blob';
    xhr.onload = function() {
        if (xhr.status === 200) {
            var blob = new Blob([xhr.response], { type: 'image/jpeg' });
            var url = window.URL.createObjectURL(blob);
            imagePreview.src = url;
        } else {
            console.log('Произошла ошибка при отправке запроса');
        }
    };
    xhr.send(formData);
});

//================= img
$(document).ready(function() {
        $('#get-image-button1').click(function() {
            $.ajax({
                url: "{% url 'operation' id=cam_id  %}",
                data: {
                    'op'       : 'get_image',
                    'cam_ip'   : '{{cam_ip}}',
                    'cam_pass' : '{{cam_pass}}'
                },
                success: function(data) {
                    $('#debug-result').text(data.result);

                
                }
            });
        });
    });

    $(document).ready(function() {
        $('#get-image-button2').click(function() {
            $.post({
             url: '{% url 'logout' id=cam_id %}',  
             data: { csrfmiddlewaretoken: '{{ csrf_token }}' }, 
                success: function() {
                    alert('okkk')
                   
                 },
     error: function() {
                 alert('error'); // обработка ошибок
                 }
                 });
                });
             });

   //================= ntp
   $(document).ready(function() {
        $('#ntp-enable-button').click(function() {
                $.ajax({
                    url: "{% url 'operation' id=cam_id  %}",
                    data: {
                        'op'            : 'ntp',
                        'cam_ip'        : '{{cam_ip}}',
                        'cam_pass'      : '{{cam_pass}}',
                        'ntp_server_ip' : $('#NTP-server').val()
                    },
                    success: function(data) {                  
                        $('#debug-result').text(data.result);
                    }
                });
        });
    });
 

//================= osd
$(document).ready(function() {
        $('#save-osd-button').click(function() {
            var checkBox = document.getElementById("osd_status");
            $.ajax({
                url: "{% url 'operation' id=cam_id  %}",
                data: {
                    'op'         : '1',
                    'osd_status' : checkBox.checked,
                    'caption'    : $('#OSD_caption').val(),
                    'cam_ip'     : '{{cam_ip}}',
                    'cam_pass'   : '{{cam_pass}}'
                },
                success: function(data) {
                    $('#debug-result').text(data.result);
                }
            });
        });
    });

    const osd_status = document.querySelector('#osd_status');
    const OSD_caption = document.querySelector('#OSD_caption');
    osd_status.addEventListener('change', () => {
        OSD_caption.disabled = !osd_status.checked ? true : false;
        $('#OSD_caption').val('');
    });  
 
//================= network
    $(document).ready(function() {
        $('#submit-network-information').click(function() {
            var checkBox = document.getElementById("dhcp-status");       
            if (showAlert() == true) {
                $.ajax({
                    url: "{% url 'operation' id=cam_id  %}",
                    data: {
                        'op'         : '5',
                        'cam_ip'     : '{{cam_ip}}',
                        'cam_pass'   : '{{cam_pass}}',
                        'new_dhcp'   : checkBox.checked,
                        'new_ip'     : $('#network-ip').val(),
                        'new_mask'   : $('#network-mask').val(),
                        'new_gateway': $('#network-gateway').val()
                    },
                    success: function(data) {
                        $('#debug-result').text(data.result);
                    }
                });
            }
        });
    });

//================= logout
   $(document).ready(function() {
        $('#logout-button').click(function() {
                $.ajax({
                    url: "{% url 'operation' id=cam_id  %}",
                    data: {
                        'op'       : 'logout',
                        'cam_ip'   : '{{cam_ip}}',
                        'cam_pass' : '{{cam_pass}}'
                    },
                    success: function(data) {                  
                        $('#debug-result').text(data.result);
                        window.location.replace('/'); 
                    }
                });

        });
    });
  
   $(document).ready(function() {
     $('#logout-button1').click(function() {
            $.post({
                url: '/',  
                
                data: { 
                     'name': 'name' 
                }, 
            success: function() {
                    //alert('ok')
                   // window.location.replace('/');  
                 },
     error: function() {
      alert('error'); // обработка ошибок
    }
  });
});
    });

//=================
    const dhcp_status = document.querySelector('#dhcp-status');
    const network_ip = document.querySelector('#network-ip');
    const network_mask = document.querySelector('#network-mask');
    const network_gateway = document.querySelector('#network-gateway');
    dhcp_status.addEventListener('change', () => {
        network_ip.disabled = dhcp_status.checked; 
        network_mask.disabled = dhcp_status.checked;
        network_gateway.disabled = dhcp_status.checked;
    });  
    

   //================= reboot
   $(document).ready(function() {
        $('#reboot-button').click(function() {
            if (showAlert() == true) {
                $.ajax({
                    url: "{% url 'operation' id=cam_id  %}",
                    data: {
                        'op': 'reboot',
                        'cam_ip': '{{cam_ip}}',
                        'cam_pass': '{{cam_pass}}'
                    },
                    success: function(data) {                  
                        $('#debug-result').text(data.result);
                    }
                });
            }
        });
    });
    
//================= alerts
    function showAlert() {
			var result = confirm("Are you sure?");
			if (result == true) {
				return true
			} else {
				return false
			}
		}

    function showAlertReboot() {
			var result = alert("Rebooting....");
		}


    
</script>


<!--

<div class="ui container grid" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
    <div class="sixteen wide column">
    {% if syslog_resp_list %}
    <div class="ui blue message">
        <p style="font-size: 16px; font-style: Bold;">System Logs :</p>
        {% for log in syslog_resp_list %}
        <p style="font-size: 12px; font-style: italic"> {{ log }} </p>
        {% endfor %}
    {% else %}
        <p style="font-size: 12px;">Camera didn't return any logs</p>
    {% endif %}
    </div>
    </div>
</div>




<div class="ui container grid" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
        <div class="sixteen wide column">
        <div class="ui orange message">
        {% if sup_info %}
            <p  style="font-size: 14px; font-style: bold;"> Support information {{ sup_info }} </p>
        {% endif %}
        </div>
        </div>
</div>
-->




{% endblock %}